{
	"extends": [
		"airbnb"
	],
	"plugins": [],
	"parserOptions": {},
	"env": {
		"browser": true
	},
	"globals": {
		"scenegraph": true
	},
	"rules": {
		"indent": ["error", 4],
		"no-unused-vars": "warn",
		"no-console": "off",
		"import/no-unresolved": ["warn", { "ignore": ["uxp", "secenegraph", "commands", "clipboard"] }],
		"no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["selection"] }]
	}
}
